# Ignore backend secrets
CloudEZBackend/src/utils/envVars.ts
CloudEZBackend/.env

# Ignore node modules
CloudEZBackend/node_modules/
CloudEZFrontend/node_modules/

# Ignore common temporary files
*.log
.DS_Store
